@font-face {
    font-family: "Web64 Abaddon";
    src: url("fonts/abaddon.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Web64 AT01";
    src: url("fonts/at01.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Web64 Avenue Pixel";
    src: url("fonts/avenuepixel.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Web64 BitPotion";
    src: url("fonts/bitpotion.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Web64 Chunky Sans";
    src: url("fonts/chunkysans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Web64 Cyborg Sister";
    src: url("fonts/CyborgSister.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Web64 Divinity";
    src: url("fonts/divinity.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Web64 DM Sans";
    src: url("fonts/dmsans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Web64 Droid Sans";
    src: url("fonts/droid-sans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Web64 Enter Command";
    src: url("fonts/EnterCommand.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Web64 Fibberish";
    src: url("fonts/fibberish.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Web64 Fira Mono Bold";
    src: url("fonts/FiraMonoBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Web64 Fortzilla";
    src: url("fonts/fortzilla.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Web64 Lato";
    src: url("fonts/Lato.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Web64 Liver";
    src: url("fonts/Liver.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Web64 m3x6";
    src: url("fonts/m3x6.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Web64 m5x7";
    src: url("fonts/m5x7.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Web64 m6x11 plus";
    src: url("fonts/m6x11plus.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Web64 Minimal Pixel";
    src: url("fonts/minimalpixel.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Web64 Monogram";
    src: url("fonts/monogram.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Web64 Pacifico";
    src: url("fonts/Pacifico.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Web64 Poco";
    src: url("fonts/poco.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Web64 Roboto Medium";
    src: url("fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Web64 Roundabout";
    src: url("fonts/roundabout.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Web64 Silver";
    src: url("fonts/Silver.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Web64 Slab";
    src: url("fonts/slab.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Web64 Timesplitter";
    src: url("fonts/timesplitter.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Web64 Unbalanced";
    src: url("fonts/Unbalanced.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Web64 Xolonium";
    src: url("fonts/xolonium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html,
body {
    font-family: "Web64 Roundabout", "Web64 Droid Sans", "Web64 AT01", monospace;
}
